.about{
    margin-top: 55px;
    padding: 50px 0;
}
.about h1{
    text-align: center;
    letter-spacing: 10px;
    border-radius: 4px;
    background-color: rgba(184, 130, 130, 0.714);
    padding: 30px 0;
    color: white;
    font-weight: 700;
    z-index: 4;
}